input {
    color: #828282;
    /*font-weight: bold;*/
    border: 1px solid #d2d2d2;
    text-indent: 5px;
    padding: 3px;
    font-family: OpenSans;
}
select {
    color: #828282;
    /*font-weight: bold;*/
    border: 1px solid #d2d2d2;
    text-indent: 5px;
    padding: 3px;
    font-family: OpenSans;
}


.button {
    position: absolute;
    padding-left: 0;
    background-color: #369bd7;
    color: #ffffff;
    font-family: OpenSans;
}
.button:hover{
    background-color: #7f7f7f;
}
.button:active {
    background-color: #369bd7;
}


@font-face {
    font-family: 'LobsterTwo';
    src: url('fonts/lobster_two.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans Bold';
    src: url('fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('fonts/UbuntuMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}